body {
    background-color: #bbeeff;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

#game-info {
    position: absolute;
    bottom: 0px;
    left: 25px;
    font-size: 20px;
}

#instructions {
    position: absolute;
    bottom: 70px;
    left: 25px;
}

#money {
    position: absolute;
    top: 50px;
    right: 15px;
    font-size: 48px; 
}

#total-score {
    position: absolute;
    top: 130px;
    right: 15px;
}

#inventory {
    position: absolute;
    top: 15%;
    left: 10px;
    width: 15%;
    height: 60%;
    border: 2px solid whitesmoke;
}

#arrangement {
    position: absolute;
    top: 80%;
    left: 40%;
    width: 20%;
    height: 10%;
}

#map-container {
    width: 50%;
    height: 60%;
    position: absolute;
    left: 25%;
    top: 15%;
}

.map-tile {
    font-size: 10px;
    line-height: 20px;
    border: 2px solid whitesmoke;
    position: absolute;
}

#shop-container {
    width: 50%;
    height: 60%;
    position: absolute;
    left: 25%;
    top: 15%;
    border: 3px solid whitesmoke;
    background-color: #99ccdd;
}

#shop-header {
    font-size: 32px;
    text-align: center;
}

.shop-input {
    position: absolute;
    right: 5%;
}

#checkout-price {
    text-align: center;
}

#checkout-button {
    position: absolute;
    bottom: 5%;
    left: 30%;
    width: 40%;
    height: 15%;
}

.flower-text {
    text-align: center;
    padding: 25% 0;
    font-size: 24px;
}